.FooterCl{
    background-color: #090b72;
    color: white;
   
}
.footerText{
    border-bottom: 3px solid rgba(255, 184, 0, 1);
    color: white;
    padding-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
