
.btn-CamaraAcc{
    background-color: rgb(255, 184, 0, 1);
    text-align: center;
    justify-content: center;
    font-size: larger;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-top: 50px;
    
}
