.Btn-Recuperar{
  background-color: rgba(255, 184, 0, 1);
  color: white;
  font-size: larger;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 4px;
}

.CardText{
  color: white;
  font-size: larger;
  text-align: center;
  justify-content: center;
}
.TitutloCarta1{
  color: white;
  font-size: larger;
  text-align: center;
  border-bottom: 3px solid rgba(255, 184, 0, 1);
}
.InputPregunta{
  text-align: center;
  justify-content: center;
  display: flex;
}