<ion-content [fullscreen]="true">
  <div id="Fondo">
    <a #topOfPage href="#topOfPage"></a>
    <ion-grid>
      
      <ion-row>
        <ion-col>
          <ion-card class="CartaFondoblk">
            <ion-card-header class="CartaTitulo ion-padding">
              Sube tu publicacion
            </ion-card-header>
          </ion-card>

          <ion-card class="Fondoblk">
            <ion-list class="ion-no-padding">
              <ion-item class="ion-no-padding">
                <ion-input [(ngModel)]="publicacion.titulo" label="Título" labelPlacement="floating"></ion-input>
              </ion-item>

              <ion-item class="ion-no-padding">
                <ion-textarea [(ngModel)]="publicacion.contenido" label="Contenido" labelPlacement="floating"></ion-textarea>
              </ion-item>
            </ion-list>
          </ion-card>

          <div class="center ion-padding">
            <ion-button (click)="limpiarPublicacion()">Limpiar</ion-button>
            <ion-button (click)="guardarPublicacion()">Guardar</ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="Subtituloforo">
            <ion-card-title class="con-padding-top">Publicaciones recientes</ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card *ngFor="let pub of publicaciones">
            <ion-card-header>
              <h4>
                #{{ pub.id }}: {{ pub.titulo }} <br>
                Autor: {{ pub.nombre }} {{ pub.apellido }}
              </h4>
            </ion-card-header>

            <ion-card-content>
              {{ pub.contenido }}
            </ion-card-content>

            <div class="alinear-derecha">
              <ion-button (click)="editarPublicacion(pub)">Editar</ion-button>
              <ion-button (click)="eliminarPublicacion(pub)">Eliminar</ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
