.Subtituloforo{
    color: azure;
    text-align: center;
    font-size: larger;
    background-color: black;
    text-decoration: underline  yellow;
    
}



.Fondoblk ion-item {
    --background: rgb(32, 31, 31) !important;
    color: white !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}
