


.CartaFondoblk ion-list {
    --background: black;
    color: white; 
    margin: 0;
  }

  .Fondoblk ion-item {
    --background: black !important;
    color: white !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.Fondoblk{
    background-color: black;
    color: white;
    font-size: larger;
    text-align: center;
    padding: 5px;
}



